*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #fff;
    color: #344854;
    font-family: 'Optimistic Text', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
   
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    width:100%;
    height:86px;
    border-bottom:1px solid rgba(22, 22, 22, .16);
    display: flex;

    align-items: center;

}
.logo-img{
    margin-left: 45px;
}
nav{
    display: flex;
    height: 100%;
    
}
.leftnavbar{
    text-transform: none;
    margin-top: 33px;
    margin-right: 18px;
    margin-left: 48px;
    letter-spacing: .3px;
    display:flex;
    gap:40px;
    font-size: 17px;
    font-weight: 500;
    
}
.menuitem i{
    margin-left: 7px;
    font-size: 14px;
    transition: 0.3s ease;
   
    
}
.menuitem{
    position: relative;
   
    
}

.menuitem:hover .rotate{
    transform: rotate(180deg);
    
}

.menuitem::after{
    content: "";
    position: absolute;
    left: 0;
    bottom:20px;
    height: 1.5px;
    width:0;
    background-color:#0f6ecd;
    transition:  0.3s ease-in-out;
    
}
.menuitem:hover::after{
    width: 100%;
}
.rightnavbar{
    border-left: 1px solid rgba(222, 227, 233, 1);
    padding-left: 20px;
    padding-top: 33px ;
    padding-bottom: 10px; 
    margin-top: 0;
    margin-left: 20px;
}
.mega-menu{
    width:100vw;
    height:auto;
    background: #fff;
    position: absolute;
    left:-182px;
    top:45px;
    display: flex;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 13px 6px -14px #000;
    border-top:1px solid rgba(22, 22, 22, .16); ;
    
}
.menuitem:nth-child(1):hover .mega-menu{
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.mega-menuc1{
    width:fit-content;
    height:100%;
    
}
.mega-menuc1-img{
    width: 190px;
    height:100px;
    margin: 20px;
}
.full-img{
    width: 100%;
    height: 100%;
}
.mega-menuc1-content{
    padding-top: 20px;
    margin-left: 5px;
}
.mega-menuc1-content h4{
    font-weight: 800;
    padding: 0 10px 12px 0;
    color: #67788a;
    /* margin-bottom: 13px; */
} 
.mega-menuc1-content ul{
    list-style: none;
}
.mega-menuc1-content ul>li{
    padding: 10px 0 8px 0;
    position: relative;
    width: fit-content;
} 
.mega-menuc1-content ul>li a{
    color: #000;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 550;
  
}
.menuitem:nth-child(2):hover .mega-menu{
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.menuitem:nth-child(3):hover .mega-menu{
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.mega-menuc1-content li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom:0px;
    height: 1.5px;
    width:0;
    background-color:#0f6ecd;
    transition:  0.3s ease-in-out;
    
}
.mega-menuc1-content li:hover::after{
    width: 100%;
}
.main-header{
    font-family: 'Optimistic Display', 'NotoSans', 'NotoSansJP', 'NotoSansKR', sans-serif;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 4px;
    color: #666;
    margin-top:50px;
    padding-left: 55px;

}

.sub-heading1{
    padding-top: 40px;
    font-size: 22px;
    color: #666;
    line-height: 27px;
    letter-spacing: 3.6px ;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 55px;
}
.middle-part{
    display: flex;
    /* padding-bottom: 40px; */
}
.left-middle-part{
    width:45%;
    margin-left: 55px;
    margin-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    
}
.background-img{
    height:400px;
    background:url('../images/Connect-24_Introducing-Orion_Thumbnail.jpg');
    /* margin-left: 40px; */
    margin-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    width: 100%;

}
.left-middle-part-intro{
    width: 100%;
}
.left-middle-part-intro-heading{
    margin-top: 20px;
    padding-bottom: 3px;
    border-bottom: 2px solid #3a3a3a;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .06em;
    color: #232323;
    width:fit-content ;
    border-image: linear-gradient(to right, #0082fb 0%, #0064e0 100%) 0 0 1 0;
}
.left-middle-part-intro-subheading{
    width: 100%;
    margin-top: 20px;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 1.8px !important;
    margin-bottom: 6px;
    text-rendering: optimizeLegibility;
    color: #000;
    cursor: pointer;
    font-weight: 500;
}
.left-middle-part-artical-text{
    margin-top: -4px;
    margin-bottom: 10px;
    color: #666;
    letter-spacing: 1.5px;
    text-rendering: optimizeLegibility;
    font-weight: 400;
}
.published-on{
    color: #666;
    font-size: 15px;

}
.right-middle-part{
    width:45%;
    /* margin-left: 25px; */
    margin-top: 50px;
    padding: 10px 0 0px 40px;
}
.right-middle-part-r1{
   
    width:100%;
    display: flex;
    margin-bottom: 50px;
    padding-right: 12px;
   

}
.right-middle-part-r1-col1{
    width: 60%;
}
.right-middle-part-r1-heading{
    padding-top: 30px;
    padding-bottom: 3px;
    border-bottom: 2px solid #3a3a3a;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .06em;
    color: #232323;
    width:fit-content ;
    border-image: linear-gradient(to right, #0082fb 0%, #0064e0 100%) 0 0 1 0;
    margin-bottom: 14px;
}
.right-middle-part-r1-subheading{
    width: 85%;
    margin-top: 20px;
    font-size: 24px;
    /* line-height: 43px; */
    line-height: 29px;
    letter-spacing: 1.2px !important;
    text-rendering: optimizeLegibility;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Optimistic Display', 'NotoSans', 'NotoSansJP', 'NotoSansKR', sans-serif;
}
.right-middle-part-r1-artical-text{
    /* margin-top: -2px; */
    margin-bottom: 10px;
    color: #666;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    width: 100%;

}
.right-middle-part-r1-col2{
    width:45%;
    height:25%;
    
}
.left-part{
    width:50%;
    padding: 70px 60px;
    
}
.left-part-content{
    width:100%;
    
}
.cat-links{
    margin-bottom: 14px;
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 2px solid #3a3a3a;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .06em;
    color: #232323;
    border-image: linear-gradient(87.55deg, #ff7a00 -.46%, #ff0169 50.82%, #d300c5 102.1%) 0 0 1 0;

}
.cat-heading{
    font-size: 36px;
    color: #000;
    line-height: 43px;
    letter-spacing: 1.8px !important;
    font-weight: 400;
    margin-bottom: 20px;
}
.cat-footer{
    margin-top: -4px;
    margin-bottom: 10px;
    color: #666;
    letter-spacing: .05em;
}
.right-part{
    width: 50%;
    
}
.tri-section{
    padding: 100px 40px 40px 60px;
    display: flex;
}
.tri-left{
    letter-spacing: .05em;
    /* color: #666; */
    width: 20%;
    padding-right: 0 ;
}
.tri-left ul{
    list-style: none;
}
.ul-heading1{
    margin: 13px 0;
    font-size: 15px;
    color: #333;
    font-weight: 600;
}
.list-link{
    font-size: 15px;
    padding-left: 0;
    cursor: pointer;
    margin: 11px 0;
    word-spacing: 1px;
    letter-spacing: .05em;
    
}
.list-link:hover{
    font-weight: 600;
}
.ul-heading2{
    font-size: 18px;
    font-weight: 600;
    color: #677b8c;
    margin: 30px 0 10px;
    text-transform: capitalize;
}
.tri-middle{
    width: 80%;
    padding: 20px 30px;
}
.insta{
    border-image: linear-gradient(87.55deg, #ff7a00 -.46%, #ff0169 50.82%, #d300c5 102.1%) 0 0 1 0;
}
.tri-middle--r1{
display: flex;
justify-content: space-between;
margin-bottom: 40px;
}
.tri-middle-col2{
    width:35%;
    height: 270px;
}
.pagination{
    border-top: 1px solid #d5dade;
    padding-top: 22px;
    margin-top: 4em;
}
.show-more-wrapper{
    width: 680px;
    margin-bottom: 40px;
    
}
.show-more-wrapper a{
color: #666;
    font-size: 16px;
    text-align: left;
    text-transform: none;
    font-weight: 400;
    letter-spacing: .03em;
   
}
.show-more-btn
{
    background-color: transparent;
    padding:5px 8px;
    border-radius: 50%;
    margin-left: 5px;
    border:1px solid #d5dade;
    cursor: pointer;
}
.show-more-text{
    color: #666;
    font-size: 16px;
    text-align: left;
    text-transform: none;
    font-weight: 400;
    letter-spacing: .03em;
    margin-left: 5px;
    cursor: pointer;
}
.zoom{
    transition: transform 0.3s ease;
}
.zoom:hover{
    transform: scale(1.03);
    
}

.press-link-wrapper{
    width: 100%;
    height: 110px;
    background-color: #f1f2f4;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.press-head{
    width: 270px;
    /* height: 29px; */
    font-size: 20px;
    line-height: 29px;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: #344854;
}
.press-link{
    width: 270px;
    height: 21px;
    font-size: 15px;
    color: black;
    line-height: 1.5;
    font-weight: 400;
    cursor: pointer;
}
.press-link:hover {
    color: #6a6565;
}
footer {
    width: 100%;
    height: 726px;
    padding: 72px 0px 25px;
    background-color: #f1f4f7;
}

.footer-r1 {
    width: 100%;
    height: 612px;
    display: flex;
}

.footer-r1-col1 {
    width: 280px;
    height: 100%;
    margin-left: 50px;
}

.followus-wrapper {
    width: 100%;
    height: 54px;
    margin-top: 50px;
}

.follow-text {
    width: 100%;
    margin-bottom: 12px;
    color: #65798a;
    line-height: 1;
    font-size: 13px;
    font-weight: 450;
}

.social-icon {
    width: 180px;
    height: 26px;
    display: flex;
    justify-content: space-between;
}
.social-icon img{
    width:25px; 
    height:25px;
}

.footer-r1-col2 {
    width: 300px;
    height: 612px;
}

.footer-listheading {
    width: 100%;
    height: 19px;
    color: #344854;
    font-weight: 550;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: .8px;
}

.footer-listitem {
    width: 100%;
    height: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding: 6px 0;
    color: #222;
}
.footer-listitem:hover {
    opacity: .7;
}
.footer-r2 {
    width: 100%;
    padding: 0px 0px 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    background-color: ;
}

.left-sec {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.left-sec-year {
    width: auto;
    height: 18px;
    font-size: 12px;
    color: #222222;
    padding: 6px
}

.right-sec {
    width: auto;
    height: auto;
    padding-right: 50px;
}
.tech-heading {
    width: 100%;
    height: 200px;
    margin-top: 80px;
}

.tech-r1 {
    width: 570px;
    margin:auto;
    color: #1C2B33;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 50px;
    
}

.tech-r2 {
    width: 570px;
    margin: auto;
    margin-top: 10px;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #1C2B33;
    font-weight: 400;
}
.curve-sec {
    margin-top: 100px;
    width: 100%;
    /* height: 921px; */
    overflow: hidden;
}
.sec-3rd {
    width: 90%;
  
    margin: auto;
    
}
.border-div{
    width: 90%;
    height: 96px;
    border-bottom: 1px solid lightgray;
    margin: auto;
    margin-bottom:100px;
}
.announcement {
    width: 100%;
    height: 13px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1.5px;
    line-height: 110%;
    color: #1c2b33;
    text-rendering: optimizeLegibility;
}
.heading3
{
width: 60%;
text-align: center;
font-size: 48px;
font-family: 'Optimistic Display Medium', Helvetica, Arial, sans-serif;
font-weight: 500;
letter-spacing: 0.01em;
line-height: 110%;
color: #1c2b33;
margin: auto;
}
.learn-btn {
    width: 129px;
    height: 44px;
    background: #0064e0;
    border: none;
    border-radius: 100px;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 46%;
}
.mid-section {
    width: 1240;
    height: 663px;
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon-social-container {
    width: 150px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left:20px ;
}


.video-2 {
    width: 550px;
    height: 100%;
}

.whtsapp-about {
    width: 332px;
    height: 131px;
}
.whtsapp-text {
    width: 100%;
    height: 86px;
    color: #1C2B33;
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 120%;
    font-weight: 600;
}
.video-3 {
    width: 527px;
    height: 420px;
    margin: 0px 72px;
    border-radius: 35px;
    position: relative;
    z-index: 0;
    
}
.overlay-div {
    width: 260px;
    height: 240px;
    z-index: 2;
    position: absolute;
    top: 340px;
    left: 180px;
}

.video-text {
    width: 240px;
    /* height: 203px; */
    margin-top: 180px;
    margin-left: 250px;
    
    
}
.vtxt-head {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: .2px;
}

.vtxt-pra {
    width: 100%;
    
    margin-bottom: 24px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 150%;
    color: #465a69;
}
.bg-video-5 {
    width: 100%;
    height: 380;
    z-index: 5;
    margin-top: 120px;
    margin-bottom: 100px;
    /* background-clip: url(../images/bg-video-5.mp4); */
}

.overlap-texton-video {
    width: 470px;
    height: 173px;
    z-index: 8;
    color: #FFFF;
    font-size: 48px;
    letter-spacing: .2px;
    line-height: 55px;
    position: absolute;
    top: 120px;
    left: 80px;
}
.caption {
    width: 322px;
    height: 13px;
    color: #1C2B33;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .64px;
    display: flex;
    margin-left: 60px;
    margin-bottom: 10px;
}
.metaverse-sec {
    width: 1200px;
    margin: 20px 0px 0px 50px;
    display: flex;
    justify-content: space-between;
}

.ms-c1 {
    width: 578px;
    height: 720px;
    background-color: #F8F9FB;
    position: relative;
    border-radius: 25px;
    padding: 20px;
}

.ms-c1-title {
    font-size: 22px;
    letter-spacing: .2px;
    font-weight: 600;
    padding-left: 20px;
    position: absolute;
    top: 550px;
    left: 0;
}

.ms-c1-addon {
    font-size: 14px;
    font-weight: 300;
    
    position: absolute;
    top:600px;
}
.ms-c2{
    width: 578px;
     height: 497px; 
     display: flex; 
     flex-direction: column; 
     justify-content: space-between;
}
.ms-c2-cards {
    width: 578px;
    height: 155px;
    border-radius: 25px;
    background-color: #F8F9FB;
    display: flex;
}

.ms-c2-cards-img {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ms-c2-cards-title {
    width: 70%;
    height: 40%;
    font-size: 18px;
    letter-spacing: .2px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 30px;
    color: #1c2b33;
}

.ms-c2-cards-addon {
    font-size: 14px;
    font-weight: 420;
    padding-left: 20px;
    margin-top: 10px;
    color: #1c2b33;
}
.cards-container {
    width: 1100px;
    height: 540px;
    margin: 20px 0px 100px 150px;
    display: flex;

    
}

.cards {
    width: 300px;
    height: 500px;
    margin-right: 50px;
}

.cards-img {
    width: 100%;
    height: 50%;
    border-radius: 24px;

}

.card-title {
    width: 100%;
    font-size: 17px;
    letter-spacing: 0px;
    font-weight: 420;
    padding-top: 30px;
    color: #1c2b33;
}

.card-addon {
    font-size: 14px;
    font-weight: 450;
    margin-top: 10px;
    color: #1c2b33;
    letter-spacing: .2px;
}

.read-more {
    width: 70%;
    height: 14px;
    font-size: 15px;
    font-weight: 550;
    letter-spacing: .4px;
    display: flex;
    margin-top: 30px;
}